# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
env/

# Logs
*.log

# IDE / Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
